<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{settings.url}}{{page.url}}" />
    {% if image %}
    <meta property="og:image" content="{{ settings.url }}/{{image}}" />
    {% endif %}
    {% if description %}
    <meta property="og:description" content="{{description}}" />
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179640747-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179640747-1');
    </script>
    <script src="/static/js/alpine.js"></script>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/background-images.css"/>
  </head>
  <body class="bg-gradient-to-br from-blue-light to-blue-dark" x-data="{ scrollAtTop: true }">
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.njk" %}

  </body>
</html>