@tailwind base;
@tailwind components;
@tailwind utilities;

/* sen-regular - latin */
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/sen-v2-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/sen-v2-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sen-700 - latin */
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/sen-v2-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/sen-v2-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sen-800 - latin */
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/sen-v2-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/sen-v2-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter-v2-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v2-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/inter-v2-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v2-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inter-v2-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v2-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Your Custom CSS Goes here*/
h1 {
  @apply text-4xl mb-3 lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

a.text-accent:hover {
  @apply text-white;
}

.btn {
  @apply bg-accent rounded px-16 py-4 uppercase inline-block font-bold;
}

.btn:hover {
  @apply bg-white;
}

.btn-outline {
  @apply border-2 border-accent rounded text-accent uppercase px-6 py-3 text-sm tracking-wide;
}

.btn-outline:hover {
  @apply bg-accent text-white;
}

.btn-faint {
  @apply bg-accent bg-opacity-25 text-accent text-xs uppercase rounded px-4 py-3 inline-block tracking-wide;
}

.btn-faint:hover {
  @apply bg-opacity-100 text-white;
}

.nav-active {
  color: #fff !important;
}

.hero-gradient {
  background: linear-gradient(
      295.79deg,
      rgba(5, 39, 90, 0.4) 29.11%,
      rgba(11, 41, 79, 0) 52.47%
    ),
    linear-gradient(
      135.32deg,
      rgba(50, 91, 253, 0.2) 0%,
      rgba(8, 32, 60, 0) 75.14%
    ),
    #101729;
}

/** Blogs */
.blog-header::before {
  @apply bg-blue-light bg-opacity-90;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-white;
}

article.prose a {
  @apply text-white;
  position: relative;
  text-decoration: none;
}

article.prose a::before,
article.prose a::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
}

article.prose a::after {
  @apply bg-white;
  width: 0;
}

article.prose a::before {
  @apply bg-accent;
  width: 100%;
}

article.prose a:hover::after {
  @apply transition-all;
  transition: 0.3s ease;
  width: 100%;
}

article.prose strong {
  color: inherit;
}

/** Storage Table */
@media (max-width: 767px) {
  .storage-table-column::before {
    @apply font-sans rounded bg-white bg-opacity-20 border border-accent;
    content: attr(data-plan);
    margin-right: auto;
    padding: 6px;
    flex: 1 1;
    max-width: 33%;
  }
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-blue;
}
